{%- import "nav/item.html" as nav -%}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{{ title }}{% endblock %} | rs-htmx</title>
    <link rel="stylesheet" href="/assets/styles.css" />
    <script src="/assets/htmx@1.9.6.min.js"></script>
    <script src="/assets/htmx-response-targets@1.9.6.js"></script>
    {% block meta %}{% endblock %}
  </head>
  <body hx-ext="response-targets" class="bg-slate-900 flex flex-col items-center">
    <nav class="bg-slate-700 w-full">
      <ul class="flex flex-row justify-center items-center gap-5 py-5 px-5" hx-boost="true">
        <div class="font-bold text-blue-300 flex-1">rs-htmx</div>
        {% call nav::item("/", "Home") %}
        {% call nav::item("/about", "About") %}
        <div class="flex-1"></div>
      </ul>
    </nav>
    <div id="root" class="flex flex-col h-full w-1/2 py-5 text-white">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
